doctype html
html
    head
        title Register Page
    body
        h1 Enter Credentials to Sigh up
        form(method="POST", action="/register")
            input(type="hidden", name="_method", value="POST")
            p First Name
            input(type="text", name="firstName")
            p Last Name
            input(type="text", name="lastName")
            p Email
            input(type="email", name="email")
            p Password
            input(type="password", name="password")
            p
            input(type="submit", value='Register')
            p 
            a(href='/login') Login